<!-- templates/room.html -->
{% extends 'base.html' %}

{% block content %}
<div class="message-box">
  <h2>Chat Room: {{ code }}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
    />
    <button type="button" name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
    <button type="button" id="exit-btn" onClick="exitChat()">Exit</button>
    <input type="file" id="media-input" />
    <button type="button" id="upload-btn" onClick="uploadMedia()">Upload Media</button>
  </div>
</div>

<form method="POST" id="invite-form" class="invite-form">
  <label>Invite via Email:</label>
  <input type="email" name="emails" placeholder="Enter email" multiple required>
  <button type="submit">Send Invites</button>
</form>






<!-- Include the external JavaScript file -->
<script src="{{ url_for('static', filename='js/room.js') }}"></script>
{% endblock %}
